<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>yandex.ru</string>
		<key>Key</key>
		<string>searchEngineId</string>
		<key>Title</key>
		<string>Default Search Engine</string>
		<key>Titles</key>
		<array>
			<string>Яндекс</string>
			<string>Yandex</string>
			<string>Google</string>
			<string>Yahoo!</string>
			<string>Bing</string>
			<string>DuckDuckGo</string>
			<string>WolframAlpha</string>
			<string>Facebook</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>yandex.ru</string>
			<string>yandex.com</string>
			<string>google</string>
			<string>yahoo</string>
			<string>bing</string>
			<string>duckduckgo</string>
			<string>wolframalpha</string>
			<string>facebook</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useHttps</string>
		<key>Title</key>
		<string>Use HTTPS if supported by Search Engine</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
