<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Extension Updates</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.github.aefimov.omnibar</string>
				<key>Developer Identifier</key>
				<string>9DK3D8GU5X</string>
				<key>CFBundleVersion</key>
				<string>0.1</string>
				<key>CFBundleShortVersionString</key>
				<string>0.1</string>
				<key>URL</key>
				<string>https://github.com/downloads/aefimov/omnibar/OmniBar.safariextz</string>
			</dict>
		</array>
	</dict>
</plist>
